<script>
    populateStoragePools = function(results){
        $('#host_compute_attributes_VBDs_sr_uuid').children().remove();
        for (var i = 0; i < results.length; i++) {
            result = results[i];
            $('#host_compute_attributes_VBDs_sr_uuid').append('<option id=' + result['uuid'] + '>' + result['name'] + '</option>');
        }
    }
</script>

<% if new_host %>
    <%= selectable_f(
            f,
            :sr,
            storage_pool_map(compute_resource),
            { },
            { :class => "span2",
              :label => _("Storage Repository"),
              :input_group_btn => link_to_function(icon_text('refresh'), "refreshCache('storage_pools', #{compute_resource.id})", :class => 'btn btn-primary',
                                                   :title => _('Refresh available storage repositories')) }
        )
    %>
<% else %>
    <%= text_f f, :sr, :class => "span2", :label => _("Storage Repository") %>
<% end %>

<%= text_f f, number_to_human_size(:virtual_size), :class => "input-mini", :label => _("Size (GB)") %>